.publicTitle {
  height: 60px;
  line-height: 60px;
  width: 100%;
  font-size: 14px;
  border-bottom: 1px solid #e3e6ed;
  display: flex;
  align-items: center;
}
.publicTitle .words {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.publicTitle .words span {
  margin-left: 8px;
}
