.asideTips {
    width: max-content;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    background-color: #F9F3FF;
    color: #23365C;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}